.ms-Panel-header {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.ms-Panel-contentInner {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  padding: 0 !important;
} 